/* This is the style sheet for the patientDashboard.html */

/* ===== Doctor Card Actions ===== */
.card-actions {
  background-color: #244557;
  padding: 10px;
  text-align: center;
}

.card-actions:hover {
  background-color: #1c3745;
}

/* ===== Ripple Overlay ===== */
.ripple-overlay {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #1c3745;
  border-radius: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1s ease-out, opacity 1s ease;
  opacity: 0.8;
}

.ripple-overlay.active {
  transform: translate(-50%, -50%) scale(150);
  opacity: 1;
}

/* ===== Bottom Pop-up Modal ===== */
.modalApp {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background: #ffffff;
  padding: 20px;
  z-index: 10000;
  transition: bottom 1.5s ease-in;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.modalApp.active {
  bottom: 0;
}

/* ===== Modal Content ===== */
.modalApp h2 {
  margin-top: 20px;
}

/* Inputs & Selects inside Modal */
.modalApp input,
.modalApp select {
  display: block;
  width: 90%;
  margin: 10px auto 40px;
  padding: 10px;
}

/* ===== Booking Confirmation Button ===== */
.confirm-booking {
  padding: 10px 20px;
  background-color: #1c3745;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-booking:hover {
  filter: brightness(1.2);
  background-color: #1c3745;
}
